.viewonenews{
    padding: 20px;
}


.reader_viewone_image {
    padding-top: 40px;
    padding-left: 100px;
 width: 100%;
 height: 600px;
}
.reader_viewone-title h2{
    padding-top: 30px;
   padding-left: 130px;
   font-weight: bold;
}
.reader_viewone-text p{
    padding-top: 30px;
   padding-left: 130px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 500;
}
.reader_viewone-likesdislikes{
    padding-left: 100px;
}
.image-container {
    position: relative;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Background shade */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .image-container:hover .image-overlay {
    opacity: 1;
  }
  
  .image-content {
    color: #fff;
    text-align: center;
  }
  
  .image-content h5 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    text-transform: capitalize;
  }
  
  .image-content p {
    font-size: 1rem;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    padding-right: 100px;
    /* height: 100vh; */
  }
  